.card-footer-create {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    color: black;
    background-color: white !important;
    border-top: none !important;
    padding: 2rem !important;
    
    /* border-top: 1px solid gainsboro !important; */
}