.content-checks {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 7px !important;
}

.content-checks > input {
    border: 1px solid black !important;
    width: 2rem !important;
    height: 2rem !important;
}

.content-btn-add {
    margin-left: 0.2rem !important;
    margin-top: 1rem !important;
}